task_1_4/cmake-build-debug
task_2_2/cmake-build-debug
task_3_2/cmake-build-debug
task_4_2/cmake-build-debug
task_1_1/cmake-build-debug
task_1_5/cmake-build-debug
task_2_3/cmake-build-debug
task_3_3/cmake-build-debug	
task_4_3/cmake-build-debug
task_1_2/cmake-build-debug
task_1_6/cmake-build-debug
task_2_4/cmake-build-debug
task_3_4/cmake-build-debug
task_5_1/cmake-build-debug
task_1_3/cmake-build-debug
task_2_1/cmake-build-debug	
task_3_1/cmake-build-debug
task_4_1/cmake-build-debug	
task_6_4/cmake-build-debug


task_1_4/CMakeLists.txt
task_2_2/CMakeLists.txt
task_3_2/CMakeLists.txt
task_4_2/CMakeLists.txt
task_1_1/CMakeLists.txt
task_1_5/CMakeLists.txt
task_2_3/CMakeLists.txt
task_3_3/CMakeLists.txt
task_4_3/CMakeLists.txt
task_1_2/CMakeLists.txt
task_1_6/CMakeLists.txt
task_2_4/CMakeLists.txt
task_3_4/CMakeLists.txt
task_5_1/CMakeLists.txt
task_1_3/CMakeLists.txt
task_2_1/CMakeLists.txt
task_3_1/CMakeLists.txt
task_4_1/CMakeLists.txt
task_6_4/CMakeLists.txt


task_1_4/.idea
task_2_2/.idea
task_3_2/.idea
task_4_2/.idea
task_1_1/.idea
task_1_5/.idea
task_2_3/.idea
task_3_3/.idea
task_4_3/.idea
task_1_2/.idea
task_1_6/.idea
task_2_4/.idea
task_3_4/.idea
task_5_1/.idea
task_1_3/.idea
task_2_1/.idea
task_3_1/.idea
task_4_1/.idea
task_6_4/.idea
